<%= link_to "Edit" , edit_constructor_subject_path(@subject),class:"btn btn-info"%>
<div id="colorlib-hero" class="js-fullheight" data-section="home">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li>
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="js-fullheight slider-text">
              <div class="slider-text-inner js-fullheight">
                <div class="desc">

                  <h1><%= @subject.name %></h1>
                  <h2><%= raw @subject.instruction %> </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="colorlib-about" data-section="about">
  <div class="colorlib-narrow-content">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
          <div class="col-md-12">
            <div class="about-desc">
              <h2 class="colorlib-heading"><%= t(".list_task") %><%=@subject.name%></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @subject.tasks.each do |task| %>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-<%= task.id%>">
        <%= task.name %>
      </button>
      <div class="modal fade" id="myModal-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title" id="myModalLabel"><%= task.name %></h1>
            </div>
            <div class="modal-body">
              <h3><%= task.instruction %></h3>
              Status:
              <%# if trainee_task.status == "finish" %>
                <%#= link_to trainee_task.status, course_subject_change_status_task_path(trainee_task.course_subject_task.course_subject.course_id, trainee_task.course_subject_task.task.subject_id, trainee_task.id), class: "btn btn-primary" %>
              <%# else %>
                <%#= link_to trainee_task.status, course_subject_change_status_task_path(trainee_task.course_subject_task.course_subject.course_id, trainee_task.course_subject_task.task.subject_id, trainee_task.id), class: "btn btn-danger" %>
              <%# end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<script src="/assets/main.js"></script>
