<!-- Course Sidebar -->
<div class="col-lg-4">
  <div class="sidebar">
    <!-- Feature -->
    <div class="sidebar_section">
      <div class="sidebar_section_title"><%= t".feature" %></div>
      <div class="sidebar_feature">
        <!-- Features -->
        <div class="feature_list">
          <!-- Feature -->
          <div class="feature d-flex flex-row align-items-center justify-content-start">
            <div class="feature_title"><i class="fa fa-calendar-check-o" aria-hidden="true"></i><span><%= t".start_date" %></span></div>
            <div class="feature_text ml-auto">
              <%#= @course_of_trainee.start_date.strftime(t(".time_default")) %>
            </div>
          </div>
          <!-- Feature -->
          <div class="feature d-flex flex-row align-items-center justify-content-start">
            <div class="feature_title"><i class="fa fa-calendar-times-o" aria-hidden="true"></i><span><%= t".finish_date" %></span></div>
            <div class="feature_text ml-auto"><%#= @course_of_trainee.finish_date.strftime(t(".time_default")) %></div>
          </div>
          <!-- Feature -->
          <div class="feature d-flex flex-row align-items-center justify-content-start">
            <div class="feature_title"><i class="fa fa-book" aria-hidden="true"></i><span><%= t".subjects" %></span></div>
            <div class="feature_text ml-auto"><%= @subjects.count %></div>
          </div>
          <!-- Feature -->
          <div class="feature d-flex flex-row align-items-center justify-content-start">
            <div class="feature_title"><i class="fa fa-users" aria-hidden="true"></i><span><%= t".members" %></span></div>
            <div class="feature_text ml-auto"><%= @trainee_of_courses.count + @trainer_of_courses.count %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
