<div class="super_container">
	<div class="courses">
		<div class="container">
			<div class="row">
<!-- 			<div class="col-lg-8">
					<div class="courses_container">
						<div class="row courses_row"> -->
							<!-- Course -->
							<%= @trainee_courses.each do |trainee_course| %>
							<div class="col-lg-6 course_col">
								<div class="course">
									<div class="course_image"><%= link_to (image_tag trainee_course.course.image_url.to_s), trainee_course_path(trainee_course) %></div>
									<div class="course_body">
										<h3 class="course_title"><%= link_to trainee_course.course.name, trainee_course_path(trainee_course) %></h3>
										<div class="course_teacher"> Trainer: <%= trainee_course.course.trainers.name %></div>
										<hr>
										<div class="course_text">
										  <div class="lesstext">
										    <p><%= truncate strip_tags(trainee_course.course.description), length: 80 %></p>
										  </div>
										  <div class="moretext">
										    <span>
										      <p><%= strip_tags(trainee_course.course.description) %></p>
										    </span>
										    <%= link_to "More", "#", class: "links" %>
										  </div>
										</div>
									</div>
									<div class="course_footer">
										<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
											<div class="course_info">
												<i class="fa fa-graduation-cap" aria-hidden="true"></i>
												<span><%= trainee_course.course.trainees.count %> Trainees</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<%end%>
<!-- 					</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
