<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><%= t".courses" %></li>
              <li><%= @course_subject.course.name %></li>
              <li><%= @course_subject.subject.name %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>

<div id="colorlib-hero" class="js-fullheight" data-section="home">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li>
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="js-fullheight slider-text">
                <div class="slider-text-inner js-fullheight">
                  <div class="desc">
                    <h1><%= @course_subject.subject.name %></h1>
                    <h2><%= raw @course_subject.subject.instruction %> </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="colorlib-about" data-section="about">
    <div class="colorlib-narrow-content">
      <div class="row">
        <div class="col-md-12">
          <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
            <div class="col-md-12">
              <div class="about-desc">
                <h2 class="colorlib-heading"><%= t".list_task" %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% @course_subject.subject.tasks.each do |cst| %>
        <hr>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-<%= cst.id%>">
          <%= cst.name %>
        </button>
        <div class="modal fade" id="myModal-<%= cst.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel"><%= cst.name %></h1>
              </div>
              <div class="modal-body">
                <h3><%= cst.instruction %></h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<script src="/assets/main.js"></script>
