<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalCLogin" class="myModal">
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js", 'data-turbolinks-track' => true %>
<h3><%= @course.trainees.count %> Trainees </h3>
<table>
  <tr>
    <th><%= t ".stt"%></th>
    <th><%= t ".name"%></th>
    <th><%= t ".sex"%></th>
    <th><%= t ".phone"%></th>
    <th><%= t ".email"%></th>
    <th><%= t ".address"%></th>
    <th><%= t ".status"%></th>
  </tr>
  <% @course.course_trainees.each_with_index do |trainee_of_course, index| %>
  <tr>
    <td><%= index %>
    <td><%= trainee_of_course.trainee.name %></td>
    <td><%= trainee_of_course.trainee.sex %></td>
    <td><%= trainee_of_course.trainee.phone %></td>
    <td><%= trainee_of_course.trainee.email %></td>
    <td><%= trainee_of_course.trainee.address %></td>
    <td><%= form_for (trainee_of_course), url: trainer_course_assign_trainee_path(@course), method: :delete do |f| %>
      <%= f.hidden_field :id %>
      <%= f.button "[X]", class:"btn-danger", type:"submit" %>
    <% end %></td>

  </tr>
  <%end%>
</table>
<%= form_for [:trainer,@course] , url: trainer_course_assign_trainee_path(@course) do |f|%>
  <%#= fields_for(@course.trainees) do |ab| %>
    <div class="field">
        <%= f.label "Add Trainees" %><br/>
          <%= collection_select(:trainees, :id, @find_trainees , :id, :name, {}, {:multiple => true, class: "ui fluid  selection dropdown"}) %>
    </div>
  <%# end %>
<%= f.button "Assign Trainees", class: "btn btn-primary", type:"sumbit" %>
<% end %>
</div>