<div class="super_container">
  <div class="courses">
    <div class="container">
      <%= link_to (t".list_subject"), constructor_subjects_path, class:"btn btn-info" %>
      <%= link_to (t".new_course"), new_trainer_course_path, class:"btn btn-primary" %>
      <div class="row">
        <% @courses.each do |course| %>
        <div class="col-lg-6 course_col">
          <div class="course">
            <div class="course_image"><%= link_to (image_tag course.image_url.to_s), trainer_course_path(course) %></div>
            <div class="course_body">
              <h3 class="course_title"><%= link_to course.name, trainer_course_path(course) %></h3>
              <div class="course_teacher"> Trainer: <%= course.trainers.name %></div>
              <hr>
              <div class="course_text">
                <p><%= truncate(course.description, length: 209) %></p>
              </div>
            </div>
            <div class="course_footer">
              <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                <div class="course_info">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  <span><%= course.trainers.count + course.trainees.count %> Members</span>
                </div>
              </div>
              <% if course.start? %>
                <%= link_to course.status, trainer_course_finish_course_path(course.id),:method => :patch, class: "btn btn-primary" %>
              <% elsif course.training? %>
                <button type="button" class="btn btn-warning"><%=course.status %> ... </button>
                <%= link_to "Finish", trainer_course_finish_course_path(course.id),:method => :patch, class: "btn btn-success" %>
              <% else %>
                <button type="button" class="btn btn-danger"><%= course.status %>ED </button>
                <i class="fa fa-check-circle" style="font-size:25px;color:green"></i>
              <% end %>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
