<%= link_to (t".back to course") , trainer_course_path(@current_course), class:"back_to_course" %>
<h1>Rating Student After finish Subject <%= link_to @current_subject.name, trainer_course_subject_path(@current_course, @current_subject), style:"font-size: 2rem" %></h1>
<% @trainee_subjects.each do |trainee_subject| %>
  <div class="trainee_name">
    <%= trainee_subject.trainee.name %>
  </div>
  <% if current_trainer && trainee_subject.score == nil %>
    Score:
    <% TraineeSubject.scores.keys.each do |score| %>
      <%= form_for trainee_subject, url: trainer_course_subject_rate_student_path(@current_course, @current_subject, trainee_subject),remote: true, html:{style:"display: inline"} do |f| %>
        <%= f.hidden_field :score , value: score %>
        <%= f.submit score , class:"score"%>
      <% end %>
    
    <% end %>
  <% else %>
    Score: <%= trainee_subject.score %>
  <% end %>
  <% if current_trainer && trainee_subject.comment == nil %>
    <%= form_for trainee_subject , url: trainer_course_subject_rate_student_path(@current_course, @current_subject, trainee_subject),remote: true do |f| %>
      <%= f.label :comment %></br>
      <%= f.text_area :comment , class:"field_comment"%></br>
    <%= f.submit "Comment", class: "button_comment_student" %>
    <% end %>
  <%else%>
    </br>
    <b><%= t".comment:" %></b>
    <%= trainee_subject.comment %>
  <%end%>
  <hr>
<% end %>