<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><%= t".tests" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>
<div class="course">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="course_container">
          <div class="course_title"><%= t".create" %></div>
            <%= form_for :trainee_test do |f| %>
              <%= f.collection_select :subject_id, @subject_tests, :id, :name, include_blank: true %>
              <%= f.submit "Create Test", class: "btn-primary btn-lg" %>
            <% end %>       
          <div class="table-responsive", style="padding-top: 50px;">
            <table class="table">
              <thead>
                <tr class="table-dark text-dark">
                  <th><%= t".created_at" %></th>
                  <th><%= t".test" %></th>
                  <th><%= t".duration" %></th>
                  <th><%= t".questions" %></th>
                  <th><%= t".spent_time" %></th>
                  <th><%= t".score" %></th>
                  <th><%= t".status" %></th>
                </tr>
              </thead>
              <tbody>
                <% @all_tests.each do |trainee_test| %>
                <tr>
                  <td><%= trainee_test.created_at.strftime(t".time") %></td>
                  <td><%= trainee_test.subject.name %></td>
                  <td><%= t".test_time" %></td>
                  <td><%= trainee_test.trainee_questions.count %></td>
                  <td></td>
                  <td><%= trainee_test.score %></td>
                  <td>
                    <% if trainee_test.score.blank? %>
                      <%= link_to (t".test"), trainee_test_path(trainee_test), class: "btn-primary btn-lg" %>
                    <% elsif trainee_test.score.present? %>
                      <%= link_to (t".completed"), trainee_test_path(trainee_test), class: "btn-success btn-lg" %>
                    <%end%>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
