<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><%= link_to (t".test"), trainee_tests_path %></li>
              <li><%= @test.subject.name %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>
<div class="course">
  <div class="container">
    <%= form_with url: trainee_test_path(@test), id: "testform", method: :put do |f| %>
    <div class="row">
      <div class="col-lg-9">
        <div class="course_container">
          <div class="course_title"><%= @test.subject.name %></div>
          <hr>
          <% @test.trainee_questions.each_with_index do |trainee_question, index| %>
          <div class="tab_panel_content">
            <div class="tab_panel_title">
              <%= index + 1 %>.&ensp;<%= trainee_question.test_question.question %>
            </div>
            <div class="tab_panel_text">
              <% trainee_question.trainee_answers.each do |trainee_answer| %>
                <%if trainee_answer.status == "wrong"%>
                  <p class="text-danger"><%= trainee_answer.answer %><span class="label label-danger" style="float:right"><%= t".wrong" %></span></p>
                <%elsif trainee_answer.status == "correct" %>
                  <p class="text-info"><%= trainee_answer.answer %><span class="label label-primary" style="float:right"><%= t".correct" %></span></p>
                <%else%>
                  <p><%= check_box_tag "[trainee_answer_ids][]", trainee_answer.id %>&ensp;<%= trainee_answer.answer %></p>
                <%end%>
              <% end %>
            </div>
            <hr>
          </div>
          <% end %>
          <% if @test.score.present? %>
            <button class="btn btn-primary" disabled><%= t".Done" %></button>
          <%else%>
            <%= f.submit (t".done"), class: "btn btn-primary", remote: true %>
          <%end%>
        </div>
      </div>
      <%= render "timer" %>
    </div>
    <%end%>
  </div>
</div>
