<!DOCTYPE html>
<html>
  <head>
    <title>AATMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <link rel="shortcut icon" href="favicon.ico">
	  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/courses.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="colorlib-page">
      <div class="container-wrap">

        <div>
          <% if trainee_signed_in? %>
            <li><%= link_to "logout", destroy_trainee_session_path, method: :delete %></li>
            <%= render "layouts/left_bar" %>
          <% end %>
          <% if trainer_signed_in? %>
            <li><%= link_to "logout", destroy_trainer_session_path, method: :delete %></li>
            <%= render "layouts/left_bar" %>
          <% end %>
          <div id="colorlib-main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
