<!DOCTYPE html>
<html>
  <head>
    <title>AATMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js", 'data-turbolinks-track' => true %>

    <meta charset="UTF-8">
    <meta name="description" content="Awesome Academy">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/courses.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/courses_responsive.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/course.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/course_responsive.css">
  </head>

  <body>
    <div class="super_container">
      <% if trainee_signed_in? || trainer_signed_in? %>
      <%= render "layouts/header" %>
        <%= yield %>
      <%= render "layouts/footer" %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
