<!DOCTYPE html>
<html>
  <head>
    <title>AATMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/animate.css">
  <!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="/assets/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <!--===============================================================================================-->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
